POSTGRES_DB=sourceafis
POSTGRES_USER=sourceafis
POSTGRES_PASSWORD=sourceafis_local_only
POSTGRES_PORT=5432
API_PORT=8080
PGADMIN_EMAIL=admin@example.com
PGADMIN_PASSWORD=pgadmin_local_only
PGADMIN_PORT=5050
